@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

:root {
  --black-background: #141414;
  --gray-background: #1f1f1f;
}

body {
  background-color: var(--black-background);
}

main {
  width: 384px;
  height: 611px;
  background-color: var(--gray-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

img#profile-picture {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

h1,
h2,
li {
  font-family: "Inter-Bold";
}

p {
  font-family: "Inter-Regular";
}
